@page "/"
<PageTitle>Home</PageTitle>
<h1>Introducción a Bootstrap</h1>
<div>
    <p>
        Comience a utilizar Bootstrap, el framework más popular del mundo para crear sitios
        responsivos y adaptados a dispositivos móviles.<br />
        Bootstrap es el framework frontend de código abierto más popular, utilizado para diseñar
        sitios web responsivos y modernos rápidamente. Proporciona una biblioteca de componentes
        predefinidos (botones, menús, formularios) basados en HTML, CSS y JavaScript,
        facilitando la creación de interfaces adaptables a cualquier tamaño de pantalla.
    </p>
</div>
<div class="row">
    <!-- EDINTING HERE-->
    <div class="col-md-4 bg-primary text-white">
        <h2>¿Qué es Bootstrap?</h2>
        <p>
            Bootstrap es un framework de código abierto para el desarrollo de sitios web
            responsivos y adaptados a dispositivos móviles. Fue creado por Mark Otto y Jacob
            Thornton en Twitter como una herramienta interna para mejorar la consistencia en
            el diseño de sus aplicaciones web. Desde su lanzamiento en 2011, se ha convertido
            en uno de los frameworks frontend más populares del mundo.
        </p>
    </div>
    <div class="col-8">
        <h2>Características principales</h2>
        <ul>
            <li>
                <strong>Responsividad:</strong> Bootstrap utiliza un sistema de cuadrícula
                flexible que permite crear diseños adaptables a diferentes tamaños de pantalla.
            </li>
            <li>
                <strong>Componentes predefinidos:</strong> Ofrece una amplia variedad de
                componentes listos para usar, como botones, menús, formularios, modales y más.
            </li>
            <li>
                <strong>Personalización:</strong> Permite personalizar fácilmente los estilos y
                componentes mediante variables Sass o utilizando su sistema de temas.
            </li>
            <li>
                <strong>Compatibilidad:</strong> Es compatible con todos los navegadores modernos
                y se integra fácilmente con otras bibliotecas y frameworks.
            </li>
        </ul>
    </div>
    <!--NEW CODE   -->
</div>
<h2>Columnas: : Horizontal siempre</h2>
<div class="mi_container text-center">
    <!--aligment to center-->
    <div class="row align-items-center">
        <div class="col">
            1 of 12
        </div>
        <div class="col">
            2 of 12
        </div>
        <div class="col">
            3 of 12
        </div>
        <div class="col">
            4 of 12
        </div>
        <div class="col">
            5 of 12
        </div>
        <div class="col">
            6 of 12
        </div>
        <div class="col">
            7 of 12
        </div>
        <div class="col">
            8 of 12
        </div>
        <div class="col">
            9 of 12
        </div>
        <div class="col">
            10 of 12
        </div>
        <div class="col">
            11 of 12
        </div>
        <div class="col">
            12 of 12
        </div>
    </div>
</div>
<!--NEW CODE-->
<h2>Columnas: : Horizontal siempre</h2>
<div class="mi_container text-center">
    <div class="row align-items-end">
        <div class="col">
            1 of 3
        </div>
        <div class="col">
            2 of 3
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            1 of 2
        </div>
        <div class="col">
            2 of 2
        </div>
    </div>
</div>
<!--NEW CODE-->
<h4>Gutter horizontal</h4>
<!-- g (0-5) define un espacio entre las columnas-->
<div class="row gx-5">
    <div class="col">
        <div class="bg-primary border">
            Columna 1
        </div>
    </div>
    <div class="col">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
</div>
<br />
<br />
<br />

<h4>Gutter Vertical</h4>
<div class="row gy-3">
    <div class="col-6">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 3
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 4
        </div>
    </div>
</div>

<h4>Gutter horizontal y vertical</h4>
<div class="row g-5 g-md-0">
    <div class="col-6">
        <div class="bg-light border">
            Columna 1
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 2
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 3
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 4
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 5
        </div>
    </div>
    <div class="col-6">
        <div class="bg-light border">
            Columna 6
        </div>
    </div>
</div>
<br />
<br />